@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position: absolute;
    font-size: 7em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}


.sec {
    position: relative;
    background: #003329;
    padding: 100px;
    z-index: -1;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

@media (max-width: 768px) {
    /* Коррекция шрифта логотипа */
    .logo {
        font-size: 1.5em;
        margin-right: 40px;
    }

    /* Меняем отступы в хедере */
    header {
        padding: 20px 50px;
    }

    /* Корректируем шрифты для навигации */
    .navigation a {
        padding: 5px 10px;
        font-size: 0.9em;
    }

    /* Центрируем текст и уменьшаем его размер для параллакса */
    #text {
        font-size: 5.2em;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Адаптация изображений параллакса */
    .parallax img {
        height: auto;
        margin: 0;
        padding: 0;
    }

    /* Изменение отступов для секций */
    .sec {
        height: auto;
        padding: 50px 20px;
    }

    .sec h2 {
        font-size: 2em;
    }

    .sec p {
        font-size: 0.9em;
    }

    .parallax {
        height: 67.5vh; 
        overflow: hidden;
    }
}


@media (max-width: 480px) {
    .logo {
        font-size: 1em;
        margin-right: 15px;
    }

    .navigation a {
        padding: 5px 2px;
        font-size: 0.8em;
    }

    #text {
        font-size: 3em;
        top: 50%;
        left: 51%;
        transform: translate(-50%, -50%);
    }

    .sec h2 {
        font-size: 1.8em;
    }

    .sec p {
        font-size: 0.8em;
    }

    .parallax {
        height: 42.4vh; 
        overflow: hidden;
    }
}